$sizes: (
  container: (width: 666px),
  header: (height: 38px),
  logoBanco: (width: 150px),
  codBanco: (width: 50px),
  codBancoChild: (width: 46px, height: 19px),
  lineLast: (height: 25px),
  lineLastInstr: (height: 20px),
  linhaDigitavel: (width: 464px),
  cedente: (width: 298px),
  agCedente: (width: 126px),
  especie: (width: 35px),
  qtd: (width: 53px),
  nossoNumero: (width: 115px),
  numDoc: (width: 113px),
  contrato: (width: 72px),
  cpfCnpj: (width: 132px),
  vencimento: (width: 134px),
  valorDoc: (width: 175px),
  outrasDeducoes: (width: 112px),
  sacado: (width: 659px),
  localPgto: (width: 472px),
  dataDoc: (width: 93px),
  numDoc2: (width: 173px),
  aceite: (width: 34px),
  qtd2: (width: 133px),
  xvalor: (width: 67px),
  instrucoes: (width: 475px),
  codBaixa: (width: 180px),
  footer: (width: 88px)
);